<div class="page-header">
      {% if user.is_authenticated %}
          <a href="{% url 'cliente_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          <a href="{% url 'cliente_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
          <a href="{% url 'cliente_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="{% url 'menu_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
          <a href="{% url 'menu_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
          <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
      {% else %}
          <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
      {% endif %}
      <header>
      <table class="egt">
      <tr>
               <td><h1><a href="clienten/">Cliente</a></h1></td>
               <td><h1><a href="menun/">Menu</a></h1></td>
               <td><h1><a href="menu/">MenuListar</a></h1</td>
      </tr>
    </header>
               {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
 </div>

{% block content %}
{% endblock %}
